<div class="container-fluid " *ngIf="beers">
  <div class="form-group col-md-4">
    <label for="inputState">Update Frequency</label>
    <select [(ngModel)]="frequency" id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option value="1">1 minute</option>
      <option value="5">5 minutes</option>
      <option value="10">10 minutes</option>
      <option value="30">30 minutes</option>
    </select>
  </div>
  <div class="row ">

    <div *ngFor="let beer of beers" class="card form-control col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2"
      [ngClass]="{'is-invalid' : beer.alert, 'is-valid' : !beer.alert}">

      <img [src]="beer.imgUrl" style="width: 100px" class="card-img-top rounded mx-auto d-block" [alt]="beer.beer">
      <div class="card-body">
        <h5 class="card-title">{{beer.beer}}</h5>
        <p class="card-text">Acceptable Range:<br>Max: {{beer.range_max}}°C Min: {{beer.range_min}}°C<br>Actual
          Temperature:
          {{beer.actual_temperature}}°C</p>
      </div>
      <div [ngClass]="{'alert alert-danger' : beer.alert}" *ngIf="beer.alert" role="alert">
        The temperature is out of the range!
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{frequency}} min ago</small>
      </div>
    </div>
  </div>
</div>